.product_card {
  position: relative;
  transition: all 0.3s ease;

  .layer_voucher {
    position: absolute;
    top: 15%;
    opacity: 0;
    padding: 8px 6px;
    transition: all 0.6s ease;
    left: 5px;
    right: 5px;
    border-radius: 6px;
    border: 1px solid green;
  }

  &:hover {
    .layer_voucher {
      opacity: 0.85;
    }
  }
}
