@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.html {
  * {
    font-size: 15px;
    line-height: 24px;
  }
}
.border {
  border: 1px solid #d9d9d9;
}

.shadow {
  box-shadow: 0 4px 6px #00000029;
}

.text-06 {
  font-size: 6px;
}

.border-gray-700 {
  border: 1px solid #b1acac;
}

.description-list {
  * {
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  strong{
    font-size: 24px;
    line-height: 48px;
  }
}
